numpy
pillow
imageio
imageio-ffmpeg
tqdm
easydict
einops
opencv-python-headless
ninja
trimesh
transformers
huggingface-hub
tensorboard
pandas
lpips
zstandard
kornia
timm
accelerate
safetensors
packaging
setuptools==75.8.0
wheel==0.45.1
moderngl
plyfile
